{% extends "layouts/base.html" %}

{% block content %}

{% comment %}  Esta plantilla es un fromulario para agregar un contacto. {% endcomment %}

<!-- Contenedor principal -->
<div class="container">
    <!-- Fila para dividir el contenido en columnas -->
    <div class="row">
        <!-- Columna para el formulario de registro de contacto -->
        <div class="col-md-6">
            <div class="form-content">
                <div class="form-container"  style="padding-top: 25px;">
                    <h2>Registrar un Contacto</h2>
                    <form action="{% url 'insert' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group"  style="padding-top: 15px;">
                            <label for="txtNombre">Nombre:</label>
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" required>
                        </div>
                        <div class="form-group"  style="padding-top: 5px;">  
                            <label for="txtEmpresa">Empresa:</label>
                            <input type="text" id="txtEmpresa" name="txtEmpresa" class="form-control" required>
                        </div>
                        <div class="form-group"  style="padding-top: 5px;">
                            <label for="txtCorreo">Correo:</label>
                            <input type="text" id="txtCorreo" name="txtCorreo" class="form-control"  required>
                        </div>
                        <div class="form-group"  style="padding-top: 5px;">
                            <label for="txtTelefono">Telefono:</label>
                            <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" required>
                        </div>
                        <div class="form-group"  style="padding-top: 5px;">
                            <label for="txtDireccion">Dirección:</label>
                            <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" required>
                        </div>
                        <div class="form-group" style="padding-top: 20px;">
                            <button type="submit" class="btn btn-primary" style="background-color: #7469B6;">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Columna para la imagen -->
        <div class="col-md-6">
            <img src="/static/img/agregar.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>

{% endblock %}
