{% extends "layouts/base.html" %}

{% block content %}

{% comment %} Esta plantilla es para listar notas de los contactos. {% endcomment %}
<div class="container text-center">
    <h1>Tus notas</h1>
</div>
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Fila para dividir el contenido en columnas -->
        <div class="row">
            <!-- Itera sobre los resultados de los contactos -->
            {% for contacto in resultados %}
                <!-- Columna para mostrar cada contacto -->
                <div class="col-md-4">
                    <!-- Tarjeta de Bootstrap con margen inferior -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa-regular fa-address-book" style="color: #B197FC;"></i> {{ contacto.nombre }}</h5>
                            <p class="card-text">{{ contacto.titulo_nota }}</p>
                            <p class="card-text">Nota: {{ contacto.notas }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
