{% extends "layouts/base.html" %}

{# El contenido de la plantilla se define en el bloque `content` #}
{% block content %}

{% comment %} Esta plantilla es para actualizar un contacto. {% endcomment %}


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-content">
        <div class="form-container" style="padding-top: 25px;">
          <h2>Actualizar un Contacto</h2>
          <form action="{% url 'update' %}" method="POST">
            {% csrf_token %}
            <div class="form-group" style="padding-top: 15px;">
              <label for="txtId">ID:</label>
              <input type="text" id="txtId" name="txtId" class="form-control" 
                     value="{{resultados.id}}" readonly required>
            </div>
            <div class="form-group" style="padding-top: 15px;">
              <label for="txtNombre">Nombre:</label>
              <input type="text" id="txtNombre" name="txtNombre" class="form-control" 
                     value="{{resultados.nombre}}" required>
            </div>
            <div class="form-group" style="padding-top: 5px;">
              <label for="txtEmpresa">Empresa:</label>
              <input type="text" id="txtEmpresa" name="txtEmpresa" class="form-control" 
                     value="{{resultados.empresa}}" required>
            </div>
            <div class="form-group" style="padding-top: 5px;">
              <label for="txtCorreo">Correo:</label>
              <input type="text" id="txtCorreo" name="txtCorreo" class="form-control" 
                     value="{{resultados.correo}}" required>
            </div>
            <div class="form-group" style="padding-top: 5px;">
              <label for="txtTelefono">Teléfono:</label>
              <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" 
                     value="{{resultados.telefono}}" required>
            </div>
            <div class="form-group" style="padding-top: 5px;">
              <label for="txtDireccion">Dirección:</label>
              <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" 
                     value="{{resultados.direccion}}" required>
            </div>
            <div class="form-group" style="padding-top: 20px;">
              <button type="submit" class="btn btn-primary" style="background-color: #7469B6;">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-top: 35px;">
      <img src="/static/img/actualizar.jpg" class="img-fluid" alt="">
    </div>
  </div>
</div>

{% endblock %}
